* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit";
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: hsl(29deg 53% 90%);
}
